# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

config SHIELD_SOFLEJOY_LEFT
    def_bool $(shields_list_contains,soflejoy_left)

config SHIELD_SOFLEJOY_RIGHT
    def_bool $(shields_list_contains,soflejoy_right)
