/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */

#include "soflejoy.dtsi"

#include <zephyr/dt-bindings/input/input-event-codes.h>

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 10 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        ;
};

/ { joystick: analog_axis {
        compatible = "analog-axis";
        poll-period-ms = <15>;
        axis-x {
                io-channels = <&adc 7>;
                in-deadzone = <100>; // need to confirm this
                in-min = <0>;
                in-max = <4000>;
                zephyr,axis = <INPUT_ABS_X>;
        };
        axis-y {
                io-channels = <&adc 5>;
                in-deadzone = <100>; // need to confirm this
                in-min = <0>;
                in-max = <4000>;
                zephyr,axis = <INPUT_ABS_Y>;
                invert-output;
        };
    };
};

&joystick_split {
    device = <&joystick>;
};